.header {
  position: relative;
  width: 100vw;
  min-width: 1100px;
  max-width: 1600px;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.header__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  height: 100vh;
  max-height: 568px;
}

.header__title {
  height: auto;
  margin: 183px 0 0 80px;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Inter", Arial, Sans-serif;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 709px;
}

.header__title_span-accent {
  margin: 0;
  display: flex;
  font-family: "Noto Serif", Times, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin: 28px 0 0 80px;
  width: 100vw;
  max-width: 683px;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Noto serif", Times, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 100vw;
  max-width: 646px;
  height: 100vh;
  max-height: 568px;
}

.header__footer {
  margin: auto;
}

.header__schedules {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  max-width: 400px;
  min-height: 60px;
  bottom: 40px;
  left: 80px;
}

.header__address {
  display: flex;
  justify-content: end;
  margin-top: auto;
  position: absolute;
  width: 100vw;
  max-width: 500px;
  right: 80px;
  bottom: 20px;
}

.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
  padding: 0;
}
