.nav {
  display: flex;
  width: 100vw;
  min-width: 1100px;
  max-width: 1600px;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 80px 0 30px;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
}

.nav__links {
  width: 100vw;
  margin: 0 0;
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
  list-style: none;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__links-item:hover {
  color: #2f80ed;
}
